.all_text {
    color: white;
}

.all_text_career {
    color: rgba(0, 0, 0, 1);
}

body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

a {
    color: rgb(207, 199, 168);
}

a:hover {
    color: rgb(255, 236, 169);
    transition: 0.7s ease;
}

section {
    background-color: white;
}
.description {
    padding: 20px;
}

.project_info {
    background-color: rgb(204, 167, 167);
    display: block;
    justify-content: space-around;
    padding: 80px;
}

.project_info:hover {
    background-color: rgb(229, 199, 141);
    transition: 0.7s ease;
}

.project_linkups {
    background-color: rgb(38, 10, 87);
    display: block;
    justify-content: space-around;
    padding: 80px;
}

.project_linkups:hover {
    background-color: rgb(35, 147, 248);
    transition: 0.7s ease;
}

.project_career {
    background-color: rgba(14, 194, 179, 1);
    display: block;
    justify-content: space-around;
    padding: 80px;
}

.project_career:hover {
    background-color: rgba(17, 245, 227, 1);
    transition: 0.7s ease;
}

.project_demo {
    width: 220px;
    height: 150px;
    border-radius: 80px;
    transition: width 0.7s ease-in-out, height 0.7s ease-in-out;
}

.project_demo:hover {
    width: 700px;
    height: 450px;
    border-radius: 80px;
    /*transition: 0.7s ease-in-out;*/
}

.project_demo:visited {
    width: 600px;
    height: 450px;
    transition: 0.7s ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(204, 167, 167);
    border-radius: 0px 10px 10px 10px;
    width: 700px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown a:hover {
    color: rgb(255, 236, 169);
    transition: 0.7s ease;
  }
  

.making_points {
    font-size: 20px;
}

.hero {
    width: 100%;
    background-image: linear-gradient(rgba(204, 167, 167, 0.7), rgba(229, 199, 141, 0.7)), url("./php_bkg_image.png");
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: white;
    transition: background-color 0.5s ease-in-out;
}


.hero2 {
    width: 100%;
    background: linear-gradient(to right, rgba(204, 167, 167, 0.5), rgba(229, 199, 141, 0.5));
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.hero_linkups {
    width: 100%;
    background: linear-gradient(to right, rgba(62, 11, 217, 0.5), rgba(184, 154, 248, 0.5));
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: white;
    transition: background-color 0.5s ease-in-out;
}

.hero_career {
    width: 100%;
    background: linear-gradient(to right, rgba(14, 194, 179, 0.5), rgba(17, 245, 227, 0.5));
    background-position: center;
    background-size: cover;
    position: relative;
    height: 100vh;
    color: white;
    transition: background-color 0.5s ease-in-out;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 80px;
}
nav {
    background-color: rgb(204, 167, 167);
    display: flex;
    justify-content: space-between;
}

nav:hover{
    background-color: rgb(229, 199, 141);
    transition: background-color 0.5s ease-in-out;
}

nav a:hover {
    text-decoration: overline;
}

ul {
    display: flex;
    list-style-type: none;
    width: 600px;
    justify-content: space-between;
    font-size: 30px;
}

li {
    /*width: 200px;*/
    text-decoration: none;
}
h1 {
    font-size: 90px;
    margin: 0px;
}

p {
    margin: 0px;
    font-size: 30px;
    font-weight: 400;
}

.subtext {
    font-size: 15px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: coral;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #ef744b;
    transition: 0.7s ease;
}

.button:active {
    background-color: greenyellow;
    color:aliceblue;
}

.socials {
    padding-bottom: 200px;
    padding-right: 50px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.social-item2 {
    margin: 20px;
}

.sub-section{
    background-color: rgb(204, 167, 167);
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section:hover {
    background-color: rgb(229, 199, 141);
    transition: 0.7s ease;
}

.sub-section_linkups{
    background-color: rgb(38, 10, 87);
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section_linkups:hover {
    background-color: rgb(35, 147, 248);
    transition: 0.7s ease;
}

.sub-section_career{
    background-color: rgba(14, 194, 179, 1);
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section_career:hover {
    background-color: rgba(17, 245, 227, 1);
    transition: 0.7s ease;
}


h2 {
    font-size: 50px;
}

.headshot {
    width: 300px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

.project-card {
    width: 300px;
    height: 600px;
    box-shadow: 5px 5px 20px;
    margin: 10px;
}

.project-container{
    display: flex;
    justify-content: space-around;
}

.project-container a:hover {
    font-size: 20px;
    background-color: rgb(255, 236, 169);
    color: white;
    padding: 5px;
    border-radius: 10px;
    transition: 0.7s ease;
}



@media only screen and (max-width: 1000px){
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.sub-section-alternative {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.project-image{
    width: 250px;
    border-radius: 125px;
    margin-top: 25px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus{
    outline: 0;
}

/*abbr[title] {
    text-decoration: underline;
    border-radius: 10px;
    background-color: rgb(38, 10, 87);
    color: rgb(35, 147, 248); 
}*/


@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: black;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }
    ul {
        display: none;
        background-color: rgb(229, 199, 141);
        margin: 0px;
    }

    .linkup_nav {
        display: block;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: rgb(229, 199, 141);
    }
    .logo {
        display: none;
    }
}

  .certs {
    width: 400px;
    height: 280px;
  }